*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#grid_contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 125px 2fr auto;
    grid-template-areas: "header header header" "titulo titulo titulo" "imagen imagen imagen" "footer footer footer";
    font-family:"Raleway", sans-serif;
    font-size: 1.5rem;
    color: #000000;    
    background-color: #a0a0a0;
}

ul.contenedor__items {
    background-color: #dce230;;
    color: #000000;
}

header {
    grid-area: header;
    background-color: #808080;
    text-align: center;
    height: 30px;
}
section#menu{
    grid-area: imagen;
    grid-row: 2 / 4;
}

section#titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dce230;
}

section#imagen{
    grid-area: imagen;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: flex-start;  
    background-color: #a0a0a0;
    font-size: 1.5rem;
     
}
.contenedor__items li a {
    transition-property: background;
    transition-duration: 1s;
    color: #000000;
}
.contenedor__items:hover {
    transform: scale(1.2);
    transition: 1s;
}

a {
    text-decoration: none;
    color: #ddec0c;
    padding: 10px;
}

.contenedor__items li a:hover{
    transform: scale(2);
}

.cabecera {
    text-align: center;
}

.logo {
width: 123px;
border-radius: 70%;
border: #F2F831;
height: 120px;
}

img.logo {
    margin-bottom: 0;
    
}
img {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
        padding: .5%;
        color: #000000;
        font-size: 5rem;
        font-family: 'Raleway', sans-serif;
        background-color: #dce230;
}

#footer {
    grid-area: footer;
    background: #808080;
    height: 26vh;
    margin-top: 27vh;
    display: flex;
    flex-direction: column;
}

footer{
    grid-area: footer;
    background: #808080;
    
}
.footer_foto {
    margin-top: 1218%;
    /* height: 134px;
    display: flex; */
}

footer img {
    display: flex;
    width: 30px;
    height: 30px;
}
.redes ul{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.pago ul{
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
}
li{
    list-style: none;
    padding-right: 5px;
}
.redes{
    height: 75px;
}

footer h4{
    height: 5px;
}

#menu ul {
    display: flex;
    gap: 50px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}
.menu ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MEDIA QUERIES */



@media screen and (min-width: 768px ) {
    footer h4 {
        height: 0.5px;
        font-size: 20px;
        margin-left: 5px;
        margin-top: 5px;
    }
    h1 {
        text-align: center;
        padding: .5%;
        color: #000000;
        font-size: 5rem;
        font-family: 'Raleway', sans-serif;
        background-color: #dce230;
        height: 125px;
    }
    h3 {
        font-size: 20px;
        height: 20px;
        width: 100%;
        margin-top: -15px;
        margin-left: 5px;
    }
    .pago ul {
        display: flex;
        justify-content: flex-start;
        padding-top: 6px;
        padding-left: 5px;
        height: 35px;
    }
    h5 {
        display: flex;
        justify-content: center;
    }
    #footer {
        height: 30vh;
        margin-top: 34vh;
    }
    #footer h3{
    font-size: 20px;
    height: 20px;
    width: 100%;
    margin-top: 6px;
    margin-left: 5px;
}
    }
     

     

@media screen and (max-width: 425px) {
    #grid_contenedor header {
        font-size: 1.2rem;
        background-color: #000000;   
        
    }
   h1{
    text-align: center;
    padding: 3.5%;
    color: #000000;
    font-size: 0;
}
a {
    text-decoration: none;
    color: #ddec0c;
    padding: 5px;
    font-size: 16px;
}
img.logo {
    margin-bottom: 0px;
    margin-top: 10px;
    height: 113px;
}
footer img {
    display: flex;
    width: 20px;
    height: 20px;
}
footer h4 {
    height: 0px;
    font-size: 18px;
    margin-bottom: -10px;
}
footer h3 {
    font-size: 17px;
    height: 22px;
    margin-top: -10px;

}
footer h5 {
    font-size: 10px;
    display: flex;
    justify-content: center;
}

#footer {
    grid-area: footer;
    background: #808080;
    margin-top: 50vh;
    height: 120px;
    
}
#menu ul {
    display: flex;
    gap: 15px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
   }
}