#menu ul {
    display: flex;
    gap: 50px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    .menu ul li a{
       @include lista-menu;
    }
    @extend nav
}

  